@charset "utf-8";

#search{
	width: 100%;
	min-weidth: 1260px;
	height: 700px;
	background: url(../img/search.jpg) center no-repeat;
	position: relative;
}

#search .search_bg{
	width: 500px;
	height: 54px;
	background-color: #000;
	opacity: 0.6;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -27px 0 0 -250px;
	border-radius: 10px;
}

#search .search,#search .button{
	background-color: #ddd;
	border: 1px solid #ccc;
	position: absolute;
	border-radius: 5px;
}

#search .search{
	width: 412px;
	height: 42px;
	top: 50%;
	left: 50%;
	margin: -23px 0 0 -244px;
	padding: 0 10px;
	font-size: 16px;
}
#search .button{
	width: 50px;
	height: 43px;
	font-weight: bold;
	top: 50%;
	left: 50%;
	margin: -23px 0 0 195px;
	cursor: pointer;
}

#pic{
	width: 1260px;
	margin: 30px auto;
	text-align: center;
}

#pic .center{
	color: #666;
}

#pic .center h2{
	font-size: 24px;
	margin: 10px 0;
}
#pic .center p{
	font-size: 16px;
	margin: 10px 0;
}

#pic figure{
	width: 380px;
	border: 1px solid #ddd;
	display: inline-block;
	padding: 4px;
	border-radius: 4px;
	margin: 15px 12px;
	text-align: left;
	position: relative;
}

#pic .pic{
	width: 380px;
	height: 237px;
	overflow: hidden;
}
#pic .pic img{
	width: 100%;
	vertical-align: middle;
}

#pic figure figcaption{
	padding: 7px 0;
}

#pic figure a{
	color: #666;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 1.5;
}

#pic figure a strong{
	font-weight: normal;
	color: #000;
}

#pic .price{
	padding-top: 5px;
}

#pic .price em{
	float:right;
	font-style: normal;
	font-size: 14px;
	position: relative;
	top: 5px;
	right: 5px;
	color: #aaa;
}

#pic .price span{
	color: orange;
	font-size: 14px;
}

#pic .price span strong{
	font-size: 20px;
}

.line{
	width: 70px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: green;
	color: #fff;
	font-size: 12px;
	position: absolute;
	top: 4px;
	left: 4px;
}